<form class="col-lg-6 col-sm-12" novalidate>
  <div class="mb-3">
    <Textarea
      id="description"
      placeholder="Your Answer"
      class="form-control {{if this.invalidForm "is-invalid"}}"
      @value={{this.description}} >
    </Textarea>
    {{#if this.invalidForm}}
      <div class="invalid-feedback">
        Please enter a answer in the textarea.
      </div>
    {{/if}}
  </div>
  <button
    type="button"
    class="btn btn-primary" {{on "click" this.addAnswer}}>
    Post Your Answer
  </button>
</form>
